apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  labels:
    helm.sh/chart: api-gateway-{{ .Values.version }}
    app.kubernetes.io/name: api-gateway
    app.kubernetes.io/instance: api-gateway
    app.kubernetes.io/version: "{{ .Values.version }}"
    app.kubernetes.io/component: application
    app.kubernetes.io/managed-by: Helm
spec:
  selector:
    app: api-gateway
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      name: http
