apiVersion: v1
kind: Service
metadata:
  name: hello-world
  labels:
    helm.sh/chart: hello-world-{{ .Values.version }}
    app.kubernetes.io/name: hello-world
    app.kubernetes.io/instance: hello-world
    app.kubernetes.io/version: "{{ .Values.version }}"
    app.kubernetes.io/component: application
    app.kubernetes.io/managed-by: Helm
spec:
  selector:
    app: hello-world
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      name: http
